<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mobile.listaacessivel.fafica.listaacessvel" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo_listaacessivel"
        android:label="@string/app_name"
        android:logo="@drawable/ic_carrinho"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".TelaUsuario"
            android:icon="@mipmap/ic_logo_listaacessivel"
            android:label="@string/tela_usuario" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TelaSobre"
            android:label="@string/title_activity_tela_sobre"
            android:parentActivityName=".TelaUsuario" >
        </activity>
        <activity
            android:name=".TelaCriarListaPasso1"
            android:label="@string/title_activity_tela_criar_lista_passo1"
            android:parentActivityName=".TelaUsuario" >
        </activity>
        <activity
            android:name=".TelaFormularioCadastroUsuario"
            android:label="@string/title_activity_tela_formulario_cadastro_usuario" >
        </activity>
        <activity
            android:name=".TelaPerfilUsuario"
            android:label="@string/title_activity_tela_perfil_usuario"
            android:parentActivityName=".TelaUsuario" >
        </activity>
        <activity
            android:name=".TelaMinhasListas"
            android:label="@string/title_activity_tela_minhas_listas"
            android:parentActivityName=".TelaUsuario" >
        </activity>
        <activity
            android:name=".TelaCriarListaPasso2"
            android:label="@string/title_activity_tela_criar_lista_passo2"
            android:parentActivityName=".TelaCriarListaPasso1" >
        </activity>
        <!-- Tela Main do login -->
        <activity
            android:name=".TelaLogin"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".TelaCriarListaPasso3"
            android:label="@string/title_activity_tela_criar_lista_passo3"
            android:parentActivityName=".TelaCriarListaPasso2" >
        </activity>
        <activity
            android:name=".ItemProdutoUnicoPasso3"
            android:label="@string/title_activity_item_produto_unico_passo3" >
        </activity>
        <activity
            android:name=".TelaEditarPerfil"
            android:label="@string/title_activity_tela_editar_perfil"
            android:parentActivityName=".TelaPerfilUsuario" >
        </activity>
    </application>

</manifest>
